<div class="navbar">
  {{#if session.isAuthenticated }}
    <a class="navbar__link" href="#" {{action "logout"}}>Logout</a>
    {{#link-to "user" sessionAccount.user.id class="navbar__link"}}Profile{{/link-to}}
  {{/if}}
</div>
