<div class="game">
  <h1 class="game__hdr">{{model.name}}</h1>
  <ul class="game__players">
    {{#each model.players as |player|}}
      {{#link-to "user" player.user.id}}
        {{game/player-card player=player}}
      {{/link-to}}
    {{/each}}
  </ul>
  <ul class="game__turns">
    {{#each model.turns as |turn|}}
      {{game/game-turn turn=turn game=model}}
      turn
    {{/each}}
  </ul>
  {{#if isMyTurn}}
    {{#link-to "game.new-turn"}}New Turn{{/link-to}}
  {{/if}}
</div>

{{outlet}}
