<form class="login__form" {{action "authenticate" on="submit"}}>
  {{input class="login__input" value=identification placeholder="Email"}}
  {{input class="login__input" value=password type="password" placeholder="Password"}}
  <button class="login__btn" type="submit">Login</button>
</form>
<p class="signup__link">Don't have an account? {{#link-to "signup"}}Sign up.{{/link-to}}</p>