* {
  margin: 0;
  padding: 0;
}

a {
  color: #FFF;
  font-family: "HelveticaNeue";
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

body {
  background-color: #534A9A;
  color: #FFF;
}

button {
  border: none;
  cursor: pointer;
}

h1, h2, h3, p {
  color: #FFF;
}

h1 {
  font-family: monospace;
  font-size: 45px;
}

input {
  border: none;
  display: block;
  outline: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}
