.game-card {
  background-color: $darkPurple;
  border-radius: 3px;
  display: inline-block;
  float: left;
  height: 150px;
  list-style-type: none;
  margin: 35px 20px 0 0;
  padding: 15px;
  width: 250px;
  &:hover {
    border-color: #F7CA18;
  }
}

.game-card__info {
  text-align: center;
  margin-top: 4px;
}

.game-card__info--name {
  text-align: center;
  margin-bottom: 20px;
}
