.login__hdr {
  margin-top: 15%;
  text-align: center;
}

.login__form {
  margin: 30px auto 30px auto;
  width: 20%;
}

.login__input {
  background-color: $darkPurple;
  border-radius: 2px;
  color: #FFF;
  height: 25px;
  font-size: 12px;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
}

.login__btn {
  background-color: #FFF;
  border-radius: 3px;
  color: $lightPurple;
  font-size: 12px;
  font-weight: bold;
  height: 30px;
  margin: 12px 62px;
  width: 100px;
}

.signup__link {
  font-size: 12px;
  text-align: center;
}
