<li class="game-card">
  <p class="game-card__info">{{game.name}}</p>
  <p class="game-card__info">Players: {{game.players.length}}</p>
  <p class="game-card__info">Turns: {{game.turns.length}}</p>
</li>