<form {{action "submit" on="submit"}}>
  {{input value=user.email placeholder="enter email"}}
  {{input value=user.password type="password" placeholder="enter password"}}
  {{input value=user.passwordConfirmation type="password" placeholder="enter password again"}}
  <button type="submit">Login</button>
</form>