<h1 class="games__hdr">Games.</h1>

<ul>
  {{#each model as |game|}}
    <li>{{#link-to "game" game.id}}{{game.name}}{{/link-to}}</li>
  {{/each}}
</ul>

{{outlet}}

<div>{{#link-to "games.new"}}New Game{{/link-to}}</div>
