<h1 class="games__hdr">Games</h1>

<ul>
  {{#each model as |game|}}
    {{#link-to "game" game.id}}
      {{games/game-card game=game}}
    {{/link-to}}
  {{/each}}
</ul>

{{outlet}}

<div>{{#link-to "games.new"}}New Game{{/link-to}}</div>
