<h1 class="games__hdr">Games</h1>

{{#link-to "new" class="games__link"}}
  <div class="games__new-game">
    <p>New Game</p>
  </div>
{{/link-to}}

<ul class="games__game-cards">
  {{#each model as |game|}}
    {{#link-to "game" game.id}}
      {{games/game-card game=game}}
    {{/link-to}}
  {{/each}}
</ul>
